<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Point | Conditions</title>
    <script src="https://kit.fontawesome.com/964b4f6dfb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/conditions.css">
</head>

<body>
    <div class="background-image"></div>

    <div class="container">
        <h2 class="heading color-contrast">Choose Your 50/50 Tokens</h2>
        <div class="conditions">
            <button class="condition__choice" value="0">0</button>
            <button class="condition__choice" value="1">1</i></button>
            <button class="condition__choice" value="2">2</button>
            <button class="condition__choice" value="3">3</i></button>
        </div>

        <a href="/" class="btn">Return</a>

    </div>

    <script src="/conditions.js"></script>
</body>

</html>