<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Point | Highscores</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/highscores.css">
</head>

<body>
    <div class="background-image"></div>
    
    <div class="container">
        <h2 class="heading">Highscores</h2>
        <ul class="modes">
            <li class="modes__head modes__head_0">0</li>
            <li class="modes__head modes__head_1">1</li>
            <li class="modes__head modes__head_2">2</li>
            <li class="modes__head modes__head_3">3</li>
        </ul>
        <div class="highscores">
            <ol id="name-column"></ol>
            <ul id="score-column"></ul>
        </div>
        <a href="/" class="btn">Go Home</a>

    </div>

    <script src="/highscores.js"></script>
</body>

</html>