<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Point</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
    <div class="background-image"></div>
    
    <div class="container">
        <h1 class="title">Quiz Point</h1>

        <a href="conditions" class="btn">Play</a>
        <a href="highscores" class="btn">Highscores</a>

    </div>

</body>

</html>